h1 {
  color: Azure;
  font-weight: bold;
  font-family: "Copperplate";
  font-size: 60px
}

body {
  background-color: CadetBlue;
  margin: 70px;
  font-family: Monaco;
  font-size: 10px;
}
.mypara{
  color: HoneyDew;
  font-family: fantasy;
  font-size: 23px;
}

.mylink{
  color: Ivory;
  font-family: fantasy;
  font-size: 22px;
}

.lst{
  font-size: 19px;
  color: LavenderBlush;
}
